<div class="item-display__image-container">
  <div class="item-display__image-frame"></div>
  <img class="item-display__image-content" src="images/arcade_fire_500x500.jpg" alt="">
</div>
<h2 class="item-display__heading">Smalltown Boy (test)</h2>
<h3 class="item-display__subheading">Arcade Fire</h3>
{{yield}}
